* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: auto;

    h2 {
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        padding: 20px;
    }

    p {
        text-align: center;
        padding: 20px;
    }
}
